.purchase-product form {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.purchase-product input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}
