@media (max-width: 1030px) {
  .home .home-banner,
  .home .home-banner-2 {
    background-position: 65% center;
    min-height: 550px;
  }
  .home-banner-text {
    transform: translate(-80%, -50%);
  }
  .home-banner-text h1 {
    font-size: 5rem;
  }
  /* Offers */
  .heading-bigger {
    font-size: 3rem;
  }
}
@media (max-width: 991px) {
  /* Home css */
  .home-banner-text {
    transform: translate(-66%, -50%);
  }
  /* Special css */
  .countdown-container {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  /* Testiononial */
  .testimonial .carousel-control-prev {
    left: -1.75rem;
  }

  .testimonial .carousel-control-next {
    right: -1.75rem;
  }
}

@media (max-width: 767px) {
  .home .home-banner,
  .home .home-banner-2 {
    background-position: 50% center;
    min-height: 450px;
  }
  .home-banner-text {
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .home-banner-text h1 {
    font-size: 3rem;
  }
  .home-banner-text h2 {
    font-size: 1.2rem;
  }
  .btn-danger {
    padding: 0.5rem 1.5rem;
  }
  .slider-icon {
    font-size: 2rem;
  }
  .up_to_content h2 {
    font-size: 0.75rem;
  }
  .special {
    padding: 4rem 0;
  }
  .countdown-counter li {
    padding: 1rem;
    width: 20%;
  }

  /* Testiononial */
  .testimonial-wrapper {
    padding: 1rem;
  }
  .testimonial .carousel-control-prev,
  .testimonial .carousel-control-next {
    display: none;
  }
}
@media (max-width: 330px) {
  .home-banner-text h2 {
    font-size: 1rem;
  }
}
